﻿@model ReflectionIT.Mvc.Paging.PagingList<BDPlanning.Models.ClientTrackingInfo>
@addTagHelper *,ReflectionIT.Mvc.Paging


@{
    ViewData["Title"] = "ClientTrackingReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<link type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />


<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<h2>ClientTrackingReports</h2>
<div class="container-fluid">
    <div class="row">
        <form asp-action="ClientTrackingReports">
            <div class="col-md-6">

                <div class="form-group">

                    <label class="control-label">From Date</label>

                    <input class="form-control" type="date" id="FromDate" />

                    <span id="FromDateError" class="text-danger">Call date cannot be empty</span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">

                    <label class="control-label">Remainder On</label>

                    <input class="form-control" type="date" id="Todate" />

                    <span id="ToDateError" class="text-danger">To Date Cannot be Empty</span>

                </div>
            </div>
        </form>
    </div>

    <div class="form-group" style="margin-left:16px">
        <input type="submit" value="Save" class="btn btn-default" id="btnSave" />
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().CallDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TrackingState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TrackingStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().AssignedTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().RemainderOn)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CallDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrackingState.ClientTrackingStateName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrackingStatus.ClientTrackingStatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RemainderOn)
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $("#FromDateError").hide();
        $("#ToDateError").hide();
    });


    $("#btnSave").click(function () {
        var count = 0;
        if ($("FromDate").val().trim() == "") {
            $("FromDateError").show();
            count++;
        }
        else { $("#FromDateError").hide(); }

        if ($("ToDate").val().trim() == "") {
            $("ToDateError").show();
            count++;
        }
        else { $("ToDateError").hide(); }

        if (count > 1) { return false; }
    });


</script>






