﻿@model BDPlanning.Models.ClientTrackingInfo
@{
    ViewData["Title"] = "MeetingReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MeetingReports</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <form asp-action="MeetingReports">
                <div class="form-group">

                    <label class="control-label">From Date</label>

                    <input class="form-control" type="date" id="FromDate" />

                    <span id="FromDateError" class="text-danger">From Date Cannot Be Empty</span>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form asp-action="MeetingReports">
                <div class="form-group">

                    <label class="control-label">To Date</label>

                    <input class="form-control" type="date" id="ToDate" />

                    <span id="ToDateError" class="text-danger">To Date Cannot Be Empty</span>
                </div>
            </form>

        </div>
        <div class="form-group" style="margin-left:16px">
            <input type="submit" value="Save" class="btn btn-default" id="btnSave" />
        </div>
    </div>
    </div>


