﻿@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BDPlanning</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <style>

        /* Navbar container */
        .mynav_navbar {
            overflow: hidden;
            background-color: #333;
            font-family: Arial;
        }

        /* Links inside the navbar */
        .mynav_navbar a {
            float: left;
            font-size: 16px;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        /* The dropdown container */
        .mynav_dropdown {
            float: left;
            overflow: hidden;
        }

        /* Dropdown button */
        mynav_.dropdown .mynav_dropbtn {
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            / Important for vertical align on mobile phones / margin: 0;
            / Important for vertical align on mobile phones /
        }

        /* Add a red background color to navbar links on hover */
        .mynav_navbar a:hover, .mynav_dropdown:hover .mynav_dropbtn {
            background-color: red;
        }

        /* Dropdown content (hidden by default) */
        .mynav_dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        /* Links inside the dropdown */
        .mynav_dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        /* Add a grey background color to dropdown links on hover */
        .mynav_dropdown-content a:hover {
            background-color: #ddd;
        }

        /* Show the dropdown menu on hover */
        .mynav_dropdown:hover .mynav_dropdown-content {
            display: block;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" style="width:109%; margin-left:-125px;" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Business Development Planning</a>
            </div>
            <div class="navbar-collapse collapse" style="padding-right:-25px; margin-right:-117px;">
                <div class="mynav_navbar" style="display:flex;">
                    <a asp-area="" asp-controller="Users" asp-action="Index">User Management</a>
                    <a asp-area="" asp-controller="Clients" asp-action="Index">Client Management</a>
                    <a asp-area="" asp-controller="ClientTracking" asp-action="CreateClientTracking">Client Tracking</a>
                    <a asp-area="" asp-controller="ClientMeetings" asp-action="Index">Meeting Management</a>
                    <div class="mynav_dropdown">
                        <a class="mynav_dropbtn">
                            Reports
                        </a>
                        <div class="mynav_dropdown-content" style="margin-top:52px">
                            <a asp-area="" asp-controller="Reports" asp-action="ClientTrackingReports">Client Tracking Reports</a>
                            <a asp-area="" asp-controller="Reports" asp-action="MeetingReports">Meeting Reports</a>
                        </div>
                    </div>



                    <a href="#"><span class="glyphicon glyphicon-bell"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-user"></span>@Context.User.Identity.Name</a>
                    <a asp-area="" asp-controller="Users" asp-action="Logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a>

                </div>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - BDPlanning</p>
        </footer>
    </div>

    <environment include="Development">
        @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>*@
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
