﻿@model BDPlanning.Models.Client

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientPoc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientPoc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReferenceBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReferenceBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientStudy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientStudy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientActiveFlag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientActiveFlag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClientId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
