﻿@model BDPlanning.Models.Client

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<h2>Edit</h2>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClientId" />
            <div class="form-group">
                <label asp-for="ClientName" class="control-label">Client Name</label>
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
                <span id="clientNameError" class="text-danger">Client name cannot be empty</span>
            </div>
            <div class="form-group">
                <label asp-for="ClientPoc" class="control-label">Client POC</label>
                <input asp-for="ClientPoc" class="form-control" />
                <span asp-validation-for="ClientPoc" class="text-danger"></span>
                <span id="clientPocError" class="text-danger">Client POC cannot be empty</span>
            </div>
            <div class="form-group">
                <label asp-for="ContactEmail" class="control-label">Client Email</label>
                <input asp-for="ContactEmail" class="form-control" />
                <span asp-validation-for="ContactEmail" class="text-danger"></span>
                <span id="clientEmailError" class="text-danger">Client email cannot be empty</span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNumber" class="control-label">Contact Number</label>
                <input asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
                <span id="clientNumberError" class="text-danger">Client mobile number cannot be empty</span>
            </div>
            <div class="form-group">
                <label asp-for="ReferenceBy" class="control-label">Refered By</label>
                <input asp-for="ReferenceBy" class="form-control" />
                <span asp-validation-for="ReferenceBy" class="text-danger"></span>
                <span id="clientReferenceError" class="text-danger">Client reference cannot be empty</span>
            </div>
            <div class="form-group">
                <label asp-for="ClientStudy" class="control-label">Client Study</label>
                <textarea asp-for="ClientStudy" class="form-control"></textarea>
                <span asp-validation-for="ClientStudy" class="text-danger"></span>
                <span id="clientStudyError" class="text-danger">Client study cannot be empty</span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ClientActiveFlag" /> @Html.DisplayNameFor(model => model.ClientActiveFlag)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" id="btnSave" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


<script>

    $(document).ready(function () {
        $("#clientNameError").hide();
        $("#clientPocError").hide();
        $("#clientReferenceError").hide();
        $("#clientStudyError").hide();
        $("#clientEmailError").hide();
        $("#clientNumberError").hide();

        $("#btnSave").click(function () {
            var count = 0;
            if ($("#txtClientName").val().trim() == "") {
                $("#clientNameError").show();
                count++;
            }
            else { $("#clientNameError").hide(); }

            if ($("#txtClientPoc").val().trim() == "") {
                $("#clientPocError").show();
                count++;
            }
            else { $("#clientPocError").hide(); }

            if ($("#txtReferenceBy").val().trim() == "") {
                $("#clientReferenceError").show();
                count++;
            }
            else { $("#clientReferenceError").hide(); }

            if ($("#txtClientStudy").val().trim() == "") {
                $("#clientStudyError").show();
                count++;
            }
            else { $("#clientStudyError").hide(); }

            if ($("#txtNumber").val().trim() == "") {
                $("#clientNumberError").show();
                count++;
            }
            else { $("#clientNumberError").hide(); }

            if ($("#txtClientEmail").val().trim() == "") {
                $("#clientEmailError").show();
                count++;
            }
            else { $("#clientEmailError").hide(); }


            if (count > 1) { return false; }
        });

    });

</script>
