﻿@model ReflectionIT.Mvc.Paging.PagingList<BDPlanning.Models.Client>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<h2>Client Management</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ClientPoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ReferenceBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ClientStudy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ContactEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ClientActiveFlag)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientPoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientStudy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientActiveFlag)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientId">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.ClientId">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.ClientId" id="lnkDelete">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div style="display:flex;justify-content:center">
    <nav aria-label="clients tracking">
        <vc:pager paging-list="@Model" />
    </nav>
    
</div>

<script>
    $(document).ready(function () {

        $("#lnkDelete").click(function () {

            var r = confirm("Do you want to delete the client?");
            if (r == false) {
                return false;

            }
        });
    });
</script>
