﻿@model BDPlanning.Models.ClientMeeting

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Client Meeting</h2>


<hr />


 
<form asp-action="Create">

    <div class="row">
        <div class="col-md-4">
            <div class="form-group" id="divMeetingDate">
                <label class="control-label">Date of Meeting</label>
                <input asp-for="MeetingDate" class="form-control" type="date" id="txtDate" />
                @*<span id="callDateError" class="text-danger">Call date cannot be empty</span>*@
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group" id="divClientName">
                <label class="control-label">Client Name</label>
                <select asp-for="ClientId" class="form-control" asp-items="@(new  SelectList(ViewBag.Client,"ClientId","ClientName"))" id="ddlClient"></select> 
                @*<select asp-for="ClientId" asp-items="@(new  SelectList(ViewBag.lstClient,"ClientId","ClientName"))" class="form-control" id="ddlClient"></select>*@
                @*<span id="clientError" class="text-danger">Please select a client</span>*@
            </div>
       </div>

        <div class="col-md-4">
            <div class="form-group" id="divLocation">
                <label class="control-label">Meeting Location</label>
                <input asp-for="Location" class="form-control" type="text" id="txtLocation" />
                @*<textarea asp-for="Location" class="form-control" id="txtComment"></textarea>*@
                @*<span id="commentError" class="text-danger">Comments cannot be empty</span>*@
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">POC Name</label>
                <input asp-for="MeetingPoc" class="form-control" type="text" id="txtPOCName" />
                @*<select asp-for="TrackingStateId" asp-items="@(new  SelectList(ViewBag.lstState,"ClientTrackingStateId","ClientTrackingStateName"))" class="form-control" id="ddlState"></select>*@
                @*<span id="stateError" class="text-danger">Client state cannot be empty</span>*@
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">POC Designation</label>
                <input asp-for="MeetingPocDesig" class="form-control" type="text" id="txtPOCDesgn" />
                @*<select asp-for="TrackingStatusId" asp-items="@(new  SelectList(ViewBag.lstStatus,"ClientTrackingStatusId","ClientTrackingStatusName"))" class="form-control" id="ddlStatus"></select>*@
                @*<span id="statusError" class="text-danger">Call status cannot be empty</span>*@
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">POC Contact Number</label>
                <input asp-for="MeetingPocNumber" class="form-control" type="tel" pattern="[0-9]{10}" id="txtPOCNumber" />
                @*<input asp-for="RemainderOn" class="form-control" type="date" id="txtRemainder" />*@
                @*<span id="remainderError" class="text-danger">Please set the remainder</span>*@
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">POC EmailId</label>
                <input asp-for="MeetingPocEmail" class="form-control" type="email" id="txtPOCEmail" />
                @*<select asp-for="AssignedTo" asp-items="@(new  SelectList(ViewBag.lstUsers,"UserId","UserName"))" class="form-control" id="ddlUser"></select>*@
                @*<span id="assignError" class="text-danger">Please assign the call</span>*@
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Meeting Name</label>
                <input asp-for="MeetingName" class="form-control" type="text" id="txtName" />
                @*<input asp-for="RemainderOn" class="form-control" type="date" id="txtRemainder" />*@
                @*<span id="remainderError" class="text-danger">Please set the remainder</span>*@
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Meeting Type</label>
                <select asp-for="MeetingTypeId" class="form-control" asp-items="@(new  SelectList(ViewBag.MeetingType,"MeetingTypeId","MeetingTypeName"))" id="ddlMeetingType"></select>
                @*<select asp-for="AssignedTo" asp-items="@(new  SelectList(ViewBag.lstUsers,"UserId","UserName"))" class="form-control" id="ddlUser"></select>*@
                @*<span id="assignError" class="text-danger">Please assign the call</span>*@
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Presenter Name</label>
                <select asp-for="UserId" class="form-control" asp-items="@(new  SelectList(ViewBag.User,"UserId","UserName"))" id="ddlUser"></select>
                @*<input asp-for="RemainderOn" class="form-control" type="date" id="txtRemainder" />*@
                @*<span id="remainderError" class="text-danger">Please set the remainder</span>*@
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Next Remainder</label>
                <input asp-for="MeetingDate" class="form-control" type="date" id="txtRemainderDate" />
                @*<select asp-for="AssignedTo" asp-items="@(new  SelectList(ViewBag.lstUsers,"UserId","UserName"))" class="form-control" id="ddlUser"></select>*@
                @*<span id="assignError" class="text-danger">Please assign the call</span>*@
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label">MOM</label>
                <textarea asp-for="MeetingMom" class="form-control" id="txtMom"></textarea>
                @*<select asp-for="AssignedTo" asp-items="@(new  SelectList(ViewBag.lstUsers,"UserId","UserName"))" class="form-control" id="ddlUser"></select>*@
                @*<span id="assignError" class="text-danger">Please assign the call</span>*@
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" id="btnSave" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>








