﻿@model BDPlanning.Models.ClientMeeting

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ClientMeeting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeetingPoc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeetingPoc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeetingPocEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeetingPocEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeetingPocNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeetingPocNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeetingPocDesig)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeetingPocDesig)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeetingMom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeetingMom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HasRemainderFlag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasRemainderFlag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeetingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeetingDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.ClientName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeetingType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeetingType.MeetingTypeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.CreatedBy)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MeetingId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
