﻿@model BDPlanning.Models.ClientMeeting

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Client Meeting Details</h2>
<hr />
<div>
   
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.ClientName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeetingType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeetingType.MeetingTypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeetingPoc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeetingPoc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeetingPocEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeetingPocEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeetingPocNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeetingPocNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeetingPocDesig)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeetingPocDesig)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeetingMom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeetingMom)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.MeetingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeetingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MeetingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
