﻿@model BDPlanning.Models.ClientMeeting

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>ClientMeeting</h4>
<hr />

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="MeetingId" />
    <input type="hidden" asp-for="CreatedOn" />
    <input type="hidden" asp-for="CreatedBy" />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group" id="divMeetingDate">
                <label class="control-label">Date of Meeting</label>
                <input asp-for="MeetingDate" class="form-control" type="date" id="txtDate" />
                @*<span id="callDateError" class="text-danger">Call date cannot be empty</span>*@
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group" id="divClientName">
                <label class="control-label">Client Name</label>
                <select asp-for="ClientId" class="form-control" asp-items="@(new  SelectList(ViewBag.Client,"ClientId","ClientName",Model.ClientId))" id="ddlClient"></select>
                @*<select asp-for="ClientId" asp-items="@(new  SelectList(ViewBag.lstClient,"ClientId","ClientName"))" class="form-control" id="ddlClient"></select>*@
                @*<span id="clientError" class="text-danger">Please select a client</span>*@
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group" id="divLocation">
                <label class="control-label">Meeting Location</label>
                <input asp-for="Location" class="form-control" type="text" id="txtLocation" />
                @*<textarea asp-for="Location" class="form-control" id="txtComment"></textarea>*@
                @*<span id="commentError" class="text-danger">Comments cannot be empty</span>*@
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">POC Name</label>
                <input asp-for="MeetingPoc" class="form-control" type="text" id="txtPOCName" />
                @*<select asp-for="TrackingStateId" asp-items="@(new  SelectList(ViewBag.lstState,"ClientTrackingStateId","ClientTrackingStateName"))" class="form-control" id="ddlState"></select>*@
                @*<span id="stateError" class="text-danger">Client state cannot be empty</span>*@
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">POC Designation</label>
                <input asp-for="MeetingPocDesig" class="form-control" type="text" id="txtPOCDesgn" />
                @*<select asp-for="TrackingStatusId" asp-items="@(new  SelectList(ViewBag.lstStatus,"ClientTrackingStatusId","ClientTrackingStatusName"))" class="form-control" id="ddlStatus"></select>*@
                @*<span id="statusError" class="text-danger">Call status cannot be empty</span>*@
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">POC Contact Number</label>
                <input asp-for="MeetingPocNumber" class="form-control" type="tel" pattern="[0-9]{10}" id="txtPOCNumber" />
                @*<input asp-for="RemainderOn" class="form-control" type="date" id="txtRemainder" />*@
                @*<span id="remainderError" class="text-danger">Please set the remainder</span>*@
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">POC EmailId</label>
                <input asp-for="MeetingPocEmail" class="form-control" type="email" id="txtPOCEmail" />
                @*<select asp-for="AssignedTo" asp-items="@(new  SelectList(ViewBag.lstUsers,"UserId","UserName"))" class="form-control" id="ddlUser"></select>*@
                @*<span id="assignError" class="text-danger">Please assign the call</span>*@
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Meeting Name</label>
                <input asp-for="MeetingName" class="form-control" type="text" id="txtName" />
                @*<input asp-for="RemainderOn" class="form-control" type="date" id="txtRemainder" />*@
                @*<span id="remainderError" class="text-danger">Please set the remainder</span>*@
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Meeting Type</label>
                <select asp-for="MeetingTypeId" class="form-control" asp-items="@(new  SelectList(ViewBag.MeetingType,"MeetingTypeId","MeetingTypeName",Model.MeetingTypeId))" id="ddlMeetingType"></select>
                @*<select asp-for="AssignedTo" asp-items="@(new  SelectList(ViewBag.lstUsers,"UserId","UserName"))" class="form-control" id="ddlUser"></select>*@
                @*<span id="assignError" class="text-danger">Please assign the call</span>*@
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Presenter Name</label>
                <select asp-for="UserId" class="form-control" asp-items="@(new  SelectList(ViewBag.User,"UserId","UserName",Model.UserId))" id="ddlUser"></select>
                @*<input asp-for="RemainderOn" class="form-control" type="date" id="txtRemainder" />*@
                @*<span id="remainderError" class="text-danger">Please set the remainder</span>*@
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Next Remainder</label>
                <input asp-for="MeetingDate" class="form-control" type="date" id="txtRemainderDate" />
                @*<select asp-for="AssignedTo" asp-items="@(new  SelectList(ViewBag.lstUsers,"UserId","UserName"))" class="form-control" id="ddlUser"></select>*@
                @*<span id="assignError" class="text-danger">Please assign the call</span>*@
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label">MOM</label>
                <textarea asp-for="MeetingMom" class="form-control" id="txtMom"></textarea>
                @*<select asp-for="AssignedTo" asp-items="@(new  SelectList(ViewBag.lstUsers,"UserId","UserName"))" class="form-control" id="ddlUser"></select>*@
                @*<span id="assignError" class="text-danger">Please assign the call</span>*@
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</form>

    @*<div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="MeetingId" />
                <div class="form-group">
                    <label asp-for="ClientId" class="control-label"></label>
                    <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                    <span asp-validation-for="ClientId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MeetingPoc" class="control-label"></label>
                    <input asp-for="MeetingPoc" class="form-control" />
                    <span asp-validation-for="MeetingPoc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MeetingPocEmail" class="control-label"></label>
                    <input asp-for="MeetingPocEmail" class="form-control" />
                    <span asp-validation-for="MeetingPocEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MeetingPocNumber" class="control-label"></label>
                    <input asp-for="MeetingPocNumber" class="form-control" />
                    <span asp-validation-for="MeetingPocNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MeetingPocDesig" class="control-label"></label>
                    <input asp-for="MeetingPocDesig" class="form-control" />
                    <span asp-validation-for="MeetingPocDesig" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserId" class="control-label"></label>
                    <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MeetingTypeId" class="control-label"></label>
                    <select asp-for="MeetingTypeId" class="form-control" asp-items="ViewBag.MeetingTypeId"></select>
                    <span asp-validation-for="MeetingTypeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MeetingMom" class="control-label"></label>
                    <input asp-for="MeetingMom" class="form-control" />
                    <span asp-validation-for="MeetingMom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="HasRemainderFlag" /> @Html.DisplayNameFor(model => model.HasRemainderFlag)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedBy" class="control-label"></label>
                    <input asp-for="CreatedBy" class="form-control" />
                    <span asp-validation-for="CreatedBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedOn" class="control-label"></label>
                    <input asp-for="CreatedOn" class="form-control" />
                    <span asp-validation-for="CreatedOn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UpdatedBy" class="control-label"></label>
                    <input asp-for="UpdatedBy" class="form-control" />
                    <span asp-validation-for="UpdatedBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UpdatedOn" class="control-label"></label>
                    <input asp-for="UpdatedOn" class="form-control" />
                    <span asp-validation-for="UpdatedOn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MeetingDate" class="control-label"></label>
                    <input asp-for="MeetingDate" class="form-control" />
                    <span asp-validation-for="MeetingDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>*@

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

