﻿@model IEnumerable<BDPlanning.Models.ClientMeeting>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Client Meeting Detials</h2>
<hr />
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model=>model.MeetingName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeetingPoc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeetingPocEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeetingPocNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeetingPocDesig)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeetingMom)
                </th>
               
                <th>
                    @Html.DisplayNameFor(model => model.MeetingDate)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem=>item.MeetingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingPoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingPocEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingPocNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingPocDesig)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingMom)
            </td>
            
            
            <td>
                @Html.DisplayFor(modelItem => item.MeetingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingType.MeetingTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MeetingId">Edit</a> |
                
                <a asp-action="Delete" asp-route-id="@item.MeetingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

