﻿@model BDPlanning.Models.Users

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<h2>Edit</h2>

<h4>Users</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
                <span id="userNameError" class="text-danger">User name cannot be empty</span>
            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
                <span id="userEmailError" class="text-danger">User email cannot be empty</span>
            </div>
            <div class="form-group">
                <label asp-for="UserMobileNumber" class="control-label"></label>
                <input asp-for="UserMobileNumber" class="form-control" />
                <span asp-validation-for="UserMobileNumber" class="text-danger"></span>
                <span id="userMobileError" class="text-danger">User mobile number cannot be empty</span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="UserActiveFlag" /> @Html.DisplayNameFor(model => model.UserActiveFlag)
                    </label>
                </div>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" id="btnSave" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>

    $(document).ready(function () {
        $("#userNameError").hide();
        $("#userEmailError").hide();
        $("#userMobileError").hide();
        $("#Create").click(function () {
            var count = 0;
            if ($("#UserName").val().trim() == "") {
                $("#userNameError").show();
                count++;
            }
            else { $("#userNameError").hide(); }

            if ($("#UserEmail").val().trim() == "") {
                $("#userEmailError").show();
                count++;
            }
            else { $("#userEmailError").hide(); }

            if ($("#UserMobileNumber").val().trim() == "") {
                $("#userMobileError").show();
                count++;
            }
            else { $("#userMobileError").hide(); }

            if (count > 1) { return false; }
        });

    });

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
