﻿@model ReflectionIT.Mvc.Paging.PagingList<BDPlanning.Models.Users>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<h2>User Management</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().UserEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().UserMobileNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().UserActiveFlag)
                </th>
                
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)    
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserMobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserActiveFlag)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
               
                    <a asp-action="Delete" asp-route-id="@item.UserId" id="lnkDelete">Delete</a>
                
                
            </td>
        </tr>
}
    </tbody>
</table>  
<div style="display:flex; justify-content:center">
    <nav aria-label="User Management Example">
        <vc:pager paging-list="@Model" />
    </nav>
</div>

<script>
    $(document).ready(function () {

        $("#lnkDelete").click(function () {
            alert("inside click"); 
            var r = confirm("Do you want to delete the user?");
            if (r == false) {
                return false;
            }
        });
    });
</script>