﻿@model BDPlanning.Models.Users;

@{
    ViewData["Title"] = "Login";
    Layout= "~/Views/Shared/_LoginLayout.cshtml";

}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<h2>Login</h2>


<div class="row"  align="center">
    <div class="col-md-4"  align="center">
        <form asp-action="Login">
            <div class="panel-group" align="center">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <p>BD Planning Login</p>
                    </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label asp-for="UserEmail" class="control-label">Email-Id</label>
                                <input asp-for="UserEmail" class="form-control" />
                                <span asp-validation-for="UserEmail" class="text-danger"></span>
                                <span id="userNameError" class="text-danger">User email cannot be empty</span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Password" class="control-label">Password</label>
                                <input asp-for="Password" class="form-control" type="password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <span id="passwordError" class="text-danger">Password cannot be empty</span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Login" class="btn btn-default" id="Login" />
                            </div>
                        </div>
                    
                </div>
            </div>
        </form>
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#userNameError").hide();
        $("#passwordError").hide();
        $("#Login").click(function () {
            var count = 0;
            if ($("#userName").val() == "") {
                $("#userNameError").show();
                count++;
            }

            if ($("#password").val() == "") {
                $("#passwordError").show();
                count++;
            }
            if (count > 1) { return false; }
        });

    });

</script>
