﻿@model BDPlanning.Models.Users;

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}


<div class="row" align="center">

    <span>You have successfully logged out!!!</span>

</div>

