﻿@model BDPlanning.Models.ClientTrackingInfo;


@{
    ViewData["Title"] = "CreateClientTracking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<link type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />


<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>





<h2>CreateClientTracking</h2>

<div class="row">
    <form asp-action="CreateClientTracking">
        <div class="col-md-6">


            <div class="form-group">

                <label class="control-label">Date of call</label>

                <input asp-for="CallDate" class="form-control" type="date" id="txtDate" />

                <span id="callDateError" class="text-danger">Call date cannot be empty</span>
            </div>
            <div class="form-group">

                <label class="control-label">Client call state</label>

                <select asp-for="TrackingStateId" asp-items="@(new  SelectList(ViewBag.lstState,"ClientTrackingStateId","ClientTrackingStateName"))" class="form-control" id="ddlState"></select>

                <span id="stateError" class="text-danger">Client state cannot be empty</span>
            </div>
            <div class="form-group">

                <label class="control-label">Remainder On</label>

                <input asp-for="RemainderOn" class="form-control" type="date" id="txtRemainder" />

                <span id="remainderError" class="text-danger">Please set the remainder</span>

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" id="btnSave" />
            </div>


        </div>
        <div class="col-md-6">
            <div class="form-group">

                <label class="control-label">Client Name</label>

                <select asp-for="ClientId" asp-items="@(new  SelectList(ViewBag.lstClient,"ClientId","ClientName"))" class="form-control" id="ddlClient"></select>

                <span id="clientError" class="text-danger">Please select a client</span>
            </div>


            <div class="form-group">

                <label class="control-label">Client call status</label>

                <select asp-for="TrackingStatusId" asp-items="@(new  SelectList(ViewBag.lstStatus,"ClientTrackingStatusId","ClientTrackingStatusName"))" class="form-control" id="ddlStatus"></select>

                <span id="statusError" class="text-danger">Call status cannot be empty</span>
            </div>
            
            <div class="form-group">

                <label class="control-label">Follow up Assign To</label>

                <select asp-for="AssignedTo" asp-items="@(new  SelectList(ViewBag.lstUsers,"UserId","UserName"))" class="form-control" id="ddlUser"></select>

                <span id="assignError" class="text-danger">Please assign the call</span>

            </div>
            <div class="form-group">

                <label class="control-label">Comments</label>

                <textarea asp-for="Comment" class="form-control" id="txtComment"></textarea>

                <span id="commentError" class="text-danger">Comments cannot be empty</span>

            </div>

            

        </div>
        
        <div class="col-lg-8">
            <table id="tblClientData" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Call Date</th>
                        <th>Client Name</th>
                        <th>Tracking State</th>
                        <th>Tracking Status</th>
                        <th>Comment</th>
                        <th>Assigned To</th>

                    </tr>
                </thead>
            </table>
        </div>
    </form>
</div>


<script>

    $(document).ready(function () {
        $("#callDateError").hide();
        $("#clientError").hide();
        $("#commentError").hide();
        $("#stateError").hide();
        $("#statusError").hide();
        $("#remainderError").hide();
        $("#assignError").hide();
        $("#tblClientData").hide();
        // to write a code for Show the CallDate to hide the(FutureDates) and Remainder For(PreviousDates)
        var dtToday = new Date();
        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear().toString();
        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();

        var minDate = year + '-' + month + '-' + day;
        alert(minDate);
        $('#txtDate').attr('max', minDate);

        $('#txtRemainder').attr('min', minDate);

    });

   
        $("#btnSave").click(function () {
            var count = 0;
            if ($("#txtDate").val().trim() == "") {
                $("#callDateError").show();
                count++;
            }
            else { $("#callDateError").hide(); }

            if ($("#txtComment").val().trim() == "") {
                $("#commentError").show();
                count++;
            }
            else { $("#commentError").hide(); }

            if ($("#txtRemainder").val().trim() == "") {
                $("#remainderError").show();
                count++;
            }
            else { $("#remainderError").hide(); }

            if ($("#ddlClient").val() == 0) {
                $("#clientError").show();
                count++;
            }
            else { $("#clientError").hide(); }

            if ($("#ddlState").val() == 0) {
                $("#stateError").show();
                count++;
            }
            else { $("#stateError").hide(); }

            if ($("#ddlStatus").val() == 0) {
                $("#statusError").show();
                count++;
            }
            else { $("#statusError").hide(); }

            if ($("#ddlUser").val() == 0) {
                $("#assignError").show();
                count++;
            }
            else { $("#assignError").hide(); }
           


            if (count > 1) { return false; }
        });

  

    $("#ddlClient").change(function () {
        alert($("#ddlClient").val());
        $("#tblClientData").show();
        LoadGrid($("#ddlClient").val());
    });
    
     function LoadGrid(clientId) {
      
         $("#tblClientData").DataTable({
            'destroy':true,
            "processing": true, // for show progress bar  
            "serverSide": true, // for process server side  
            "filter": true, // this is for disable filter (search box)  
            "orderMulti": false, // for disable multiple column at once  
            "ajax": {
                "url": "/ClientTracking/LoadClientGrid",
                "type": "POST",
                "datatype": "json",
                "data": {
                    clientId: clientId
                }
            },
          
            "columns": [
                { "data": "callDate", "name": "CallDate", "autoWidth": true },
                { "data": "clientName", "name": "ClientName", "autoWidth": true },
                { "data": "clientTrackingStateName", "name": "ClientTrackingStateName", "autoWidth": true },
                { "data": "clientTrackingStatusName", "name": "ClientTrackingStatusName", "autoWidth": true },
                { "data": "comment", "name": "Comment", "autoWidth": true },
                { "data": "assignedTo", "name": "AssignedTo", "autoWidth": true },
                
                
            ]

        });  

    }
</script>
